@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}

.admin-container {
    display: flex;
}

nav {
    height: 100vh;
    position: sticky;
    top: 0;
    width: 250px;
    border-right: 1px solid black;
}

nav .user-icon {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    padding: 1rem 0;
}

nav ul li a {
    font-size: 1.1rem;
    color: black;
   
}

nav ul li a:hover {
    border-bottom: 1px solid grey;
}

nav img {
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.btns a {
    width: 50%;
    padding:8px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: red;
    border:none;
    outline:none;
    font-size: 16px;
    font-weight:600;
    color:rgb(255, 255, 255);
    border-radius:4px;
}

.admin {
    padding: 1rem;
    width: 100%;
}

.admin h1 {
    color: red;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 2rem;
}
.admin table th, td {
    border: 1px solid black;
    padding: 0.5rem 0;
    text-align: center;
}

.admin table .edit {
    width: 30%;
    padding:3px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color:grey;
    border:none;
    outline:none;
    font-size: 16px;
    font-weight:600;
    color:rgb(255, 255, 255);
    border-radius:4px;
    margin-right: 2px;
}

.admin table .delete {
    width: 30%;
    padding:3px 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: red;
    border:none;
    outline:none;
    font-size: 16px;
    font-weight:600;
    color:rgb(255, 255, 255);
    border-radius:4px;
}